#contenedor{
margin: auto;
width: 1000px;
height: 500px;
}

/*CSS of A Simple Slideshow*/

#slideshow{
	width: auto;
	height: auto;
	background: url(../img/carga.gif);
	}
	
#slideshow img{
	position: absolute;
	z-index: auto;
	}
	
#slideshow #arrows{
	position: absolute;
	}

#slideshow #arrows #left{
	float: left;
	width: 40px;
	height: 40px;
	margin-left: 10px;
	background-color: black;
	background: url(../img/arrows.png);
	background-position: 40px 0px;
	}

#slideshow #arrows #right{
	float: right;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background-color: black;
	background: url(../img/arrows.png);
	}
	
#slideshow #bar{
	background-color: #525256;
	position: absolute;
	z-index: 200;
	}	

#slideshow #bar #text{
	width: auto;
	height: 25px;
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	font-size: 18px;
	text-align: center;
	line-height: 20px;
	color: #FFF;
	opacity: 1;
	}
	
#slideshow #bar #numbers{
	width: auto;
	height: 25px;
	margin-top: 2.5px;
	margin-right: 5px;
	float: right;
	opacity: 1;
	}
	
#slideshow #bar #numbers .number{
	width: 20px;
	height: 20px;
	margin-top: 2.5px;
	margin-left: 5px;
	float: left;
	background-color: white;
	opacity: 0.5;
	font-size: 18px;
	text-align: center;
	line-height: 20px;
	color: black;
	font-weight: bold;
	transition: all ease 0.5s;
	cursor: default;
	}
	
#slideshow #bar #numbers .number:hover{
	width: 20px;
	height: 20px;
	background-color: white;
	opacity: 1;
	border-radius: 20px;
	transform: rotate(360deg);
	transition: all ease 0.5s;
	cursor: default;
	}
	
#slideshow #bar #numbers .select{
	background: white;
	opacity: 1;
	border-radius: 20px;
	cursor: default;
	transform: rotate(360deg);
	transition: all ease 0.5s;
	}
	
#slideshow #thumb{
	width: 134px;
	height: 74px;
	border: solid black 2px;
	border-radius: 5px;
	position: absolute;
	}
	
#slideshow #thumb img{
	width: 130px;
	height: 70px;
	}
	
#slideshow #progressbar{
	position: absolute;
	z-index: 200;
	height: 5px;
	background-color: grey;
	opacity: 0.8;
	}